h1 {
    color: deeppink;
    text-align: center;
    
    
}
p  {
    color: green;
    margin-top: 25px;
    
    
} 
div {
    background-color: rgb(186, 200, 238);
    margin-bottom: 50px;
    padding: 50px; 
    /* внутренний отступ со всех сторон */
}
.post-1 {
    background-color: aquamarine;

}

.post-2 {
    background-color: rgb(215, 134, 76);
}
h2,h3,h4,h5,h6 {
    text-align: center;
    margin-bottom: 30px;
}

    img{
        width: 500px; /*ширина */
        margin-left: 25px;
    }
/*  */
/* 
создать комментарий
 */
