ul {
    list-style-type: square;
    /*  */
}

.no-marker {
    list-style-type: none;
}

ol {
    list-style-type: lower-roman;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    /* граница */
}

/* 
    border: размерГраница типГраницы цветГраницы;
        тип границы:  solid - одна линия
                        doubled - двойная линия
                        dotted - рамка из точек 


    selector {
        property: value;
    }

    селектор {
        свойство: значение;
    }
*/