* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  margin: auto;
  display: flex;
  width: 420px;
  padding: 16px;
  flex-direction: column;
  /* justify-content: center;
align-items: center; */
  border-radius: 20px;
  background: var(--text-white, #fff);

  /* Elevation / 06 */
  box-shadow: 0px 20px 32px 0px rgba(96, 97, 112, 0.24),
    0px 2px 8px 0px rgba(40, 41, 61, 0.08);
}
form {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  padding: 14px 24px;
  border-radius: 12px;
  border: 1px solid #cfd8dc;
  outline: none;
}

.btn {
  border-radius: 55px;

  font-size: 16px;
  /* font-style: normal; */
  font-weight: 700;
}

.inp1 {
  margin-bottom: 8px;
}
.btnBack {
  background: #ffe44d;
}
p {
  margin: 24px 0;
  color: #7b8e98;

  font-size: 12px;
}
h1 {
  color: #000;
  /* Header : H1/ExtraBold */
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 114.286% */
  margin-bottom: 24px;
}
div {
  display: flex;
  justify-content: end;
}
