* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: linear - gradient(196deg, #ee9292 0 %, #cafbca 80 %);
    height: 100vh;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}